/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Oxygen", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFEFBA;  /* Fallback for older browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    margin-top: 0;
    color: #333;
}

h4 {
    color: #666;
}

button {
    height: 100px;
    width: 100px;
    background-color: #00BFFF;
    border-radius: 50%;
    outline: none;
    border: 1px solid #1E90FF;
    cursor: pointer;
    margin-top: 40px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fun {
    background: #FFC371;  /* Fallback for older browsers */
    background: -webkit-linear-gradient(to left, #FF5F6D, #FFC371);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF5F6D, #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#idea {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
